<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><%= listing.title %></h3>
  </div>
  <div class="card col-6 offset-3 show-card" style="width: 18rem">
    <% /* show image - listing.image is an object {filename, url} */ %>
    <img
      src="<%= (listing.image && listing.image.url) ? listing.image.url : 'https://via.placeholder.com/800x400?text=No+Image' %>"
      class="card-img-top show-img"
      alt="listing img"
    />
    <div class="card-body">
      <p class="card-text">
        <%= listing.description %> <br />
        Rs.<%= listing.price %> <br />
        <%= listing.location %> <br />
        <%= listing.country %>
      </p>
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" style="display:inline">
        <button class="btn btn-danger offset-5">Delete</button>
      </form>
      
  </div>
</div>
