<% layout("/layouts/boilerplate") %>
<body>
    <h3>Listing details</h3>
    <ul>
        <li><%= listing.title %></li>
        <li><%= listing.description %></li>
        <li>Rs.<%= listing.price %></li>
        <li><%= listing.location %></li>
        <li><%= listing.country %></li>
    </ul>
    <br>
    <a href="/listings/<%= listing._id%>/edit">Edit</a>
    <br>
    <form method="POST" action="/listings/<%=listing._id%>?_method=Delete">
        <button>Delete</button>
    </form>
</body>